# Build tools
*.swp
notes
out.txt

# Folders created while running scripts
build

# Binaries compiled from within the repo. Typically these get moved into the
# build folder anyway, but for development and testing purposes its still nice
# to list them in the .gitignore
indexer
joiner
power
stats
finder
